a:link {
  text-decoration: none;
  font-family: Georgia;
  color: darkblue;
}

a:visited {
  text-decoration: underline;
  font-family: Georgia;
  color: darkblue;
}

a:hover {
  border: 4px solid darkblue;
  font-family: Georgia;
  color: darkblue;
}

a:active {
  font-family: Georgia;
  color: darkblue;
}

h1 {
  font-family: Verdana;
  color: #191970;
}

p {
  font-family: Georgia;
}

table {
  border-collapse: collapse;
}

td {
  border: 4px solid black;
}

th.naam {
  border: 4px solid black;
  background-color: white;
}

th.inhoud {
  border: 4px solid black;
}

ul.contact {
  list-style: circle none;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  margin-right: 1050px;
}

ul.biografie {
  list-style: circle none;
  border: 2px solid black;
  margin-right: 750px;
}

body {
  background-color: papayawhip;
}
