body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    background-color: #304D6D;
}

a {
    color: white;
}

#headerText {
    max-width: 70vw;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
}

#headerText > h1 {
    width: 100%;
    font-size: calc(min(15vh, 16vw));
    margin: 0 auto;
}

#headerText > p {
    font-size: calc(min(3vh, 4.5vw));
}

footer {
    background-color: #82A0BC;
}

#footerContent {
    width: 15%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1vw;
    justify-content: center;
}

.logo {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bigImage {
    width: calc(50% - 10px);
    height: auto;
    margin-bottom: 20px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.smallImage {
    width: calc(33% - 10px);
    height: auto;
    /* margin-bottom: 20px; */
    display: inline-block;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

/* .bigImage, .smallImage{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: calc(min(3vh, 4.5vw));
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #545E75;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #7e8db0;
    color: white;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 3vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkgrey;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media (min-aspect-ratio: 4/3) {
    .bigImage:hover {
        transform: scale(1.05);
    }
    
    .smallImage:hover {
        transform: scale(1.05);
    }

}

@media (max-aspect-ratio: 4/3) {
    .container {
        max-width: 97vw;
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-top: 3vw;
        margin-bottom: 3vw;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .bigImage,
    .smallImage {
        width: 75%;
        height: auto;
        margin-right: 4vw;
        margin-bottom: 0;
        scroll-snap-align: center;
    }

    .smallImage:last-child {
        margin-right: 0;
    }

    #headerText {
        max-width: 97vw;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin-bottom: 0;
    }

    #headerText > h1 {
        margin-bottom: 0;
    }

    #headerText > p {
        margin: 0 auto;
    }

    #footerContent {
        width: 50%;
        grid-gap: 3vw;
    }

    .modal-content {
        width: 90%;
    }

    .close {
        font-size: 12vw;
    }
}