body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
}

.header > h1 {
    width: 100%;
    font-size: calc(min(14vh, 15vw));
    margin: 0 auto;
}

.header > p {
    font-size: calc(min(3vh, 4.5vw));
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bigImage {
    width: calc(50% - 10px);
    height: auto;
    margin-bottom: 20px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.smallImage {
    width: calc(33% - 10px);
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

/* #LEGOimage, #HOLOimage, #QUESTimage, #BOBimage, #CPPimage {
    animation: imageFade 5s infinite;
    animation-delay: 2.5s;
} */

/* @media only screen and (min-width: 1024px) */
@media (max-aspect-ratio: 4/3) {
    .bigImage:hover {
        transform: scale(1.05);
    }
    
    .smallImage:hover {
        transform: scale(1.05);
    }

    /* h1 {
        font-size: 7vw;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    p {
        font-size: 1.5vw;
        margin-top: 0px;
        margin-left: 0px;
    } */
    
    .logo {
        max-width: 5%;
        max-height: auto;
        margin-right: 1vw;
    }
}

/* @media only screen and (max-width: 768px) */
@media (max-aspect-ratio: 4/3) {
    .container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .bigImage,
    .smallImage {
        width: 100%;
        height: auto;
        margin-right: 10px;
        scroll-snap-align: center;
    }

    .header {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        margin-bottom: 10vw;
    }

    .header > h1 {
        margin-bottom: 0px;
    }

    .header > p {
        margin: 0 auto;
    }

    /* h1 {
        font-size: 20vw;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    p {
        font-size: 4vw;
    } */
    
    .logo {
        max-width: 15%;
        max-height: auto;
        margin-right: 1vw;
    }
}

/* @keyframes imageFade {
    40%, 60% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
} */