* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-image: url(banaan.gif);
  background-size: 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  color: black;
  background-color: green;
}

header {
  background-color: #3fbd3d;
  height: 65px;
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
  text-shadow: 5px 5px 7px #000000;
}

ul {
  background: #124211;
  padding: 10px;
  text-align: center;
}

ul li {
  background: #278c25;
  padding: 5px;
  border: solid 2px black;
  display: inline-block;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  margin-right: 250px;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: #4ea04c;
}

footer {
  background: #3D643C;
  margin-right: 265px;
  margin-left: 20px;
  border: 3px solid black;
  border-radius: 20px 20px 20px 20px;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

nav {
  position: sticky;
  top: 0px;
}

aside {
  top: 55px;
  right: 150px;
  position: fixed;
}
